{
  "endOfLine": "lf",
  "semi": false,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 80,
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "tailwindStylesheet": "app/globals.css",
  "tailwindFunctions": [
    "cn",
    "cva"
  ],
  "importOrderSeparation": true,
  "importOrderParserPlugins": [
    "typescript",
    "jsx",
    "decorators-legacy"
  ],
  "importOrder": [
    "^react$",
    "^react-dom(/.*)?$",
    "^next$",
    "^next/(.*)$",
    "^next-intl(/.*)?$",
    "<THIRD_PARTY_MODULES>",
    "^@/public/(.*)$",
    "^@/configs/(.*)$",
    "^@/types/(.*)$",
    "^@/helpers/(.*)$",
    "^@/hooks/(.*)$",
    "^@/i18n/(.*)$",
    "^@/lib/(.*)$",
    "^@/components/ui/(.*)$",
    "^@/components/main-layout/(.*)$",
    "^@/components/common/(.*)$",
    "^@/components/(.*)$",
    "^[./]"
  ]
}